* {
	padding: 0;
	margin: 0;
	font-family: "helvetica", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	transition: background-color 2s ease;
	color: #000000;
}

.red-mode {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-color: oklch(65.574% 0.22553 23.589);
	color: oklch(26.633% 0.10904 28.502);
}

.green-mode {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-color: oklch(80.602% 0.19514 149.369);
	color: oklch(41.72% 0.123 146.79);
}

.preText {
	font-size: 1.5rem;
	text-align: center;
	padding: 0 15px;
}

#answerText {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

@media (min-width: 768px) {
	.preText {
		font-size: 3rem;
	}
	#answerText {
		font-size: 1.5rem;
	}
}

.answerHighlight {
	font-variant: small-caps;
	font-variant:;
	font-size: 2rem;
	font-weight: bolder;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

article {
	display: grid;
	width: 100%;
	min-height: 100vh;
	align-content: center;
	justify-items: center;
	padding: 20px;
}
#dateText {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.num {
	place-self: center;
	font-size: 6rem;
	font-weight: 600;
	max-width: 100%;
	padding: 0 15px;
	width: auto;
}
@media (min-width: 768px) {
	.num {
		font-size: 8rem; /* Larger size for desktop */
	}
}

@media (max-width: 480px) {
	.num {
		font-size: 3rem;
	}
	#dateText,
	#priceText {
		font-size: 0.9rem;
	}
}

#priceText {
	width: 100%;
	margin-top: 10px;
	text-align: center;
}

h1 {
	font-size: 8rem;
}
